div(tg-cas-login-button)
    a.button.button-auth(href="", title="Enter with your CAS account")
        img(src="/plugins/cas-auth/images/telesante-logo.png", width='18', height='18' )
        span(translate="CAS-AUTH.BUTTON_TEXT")
